body{
    color: black;
}

.hud-item{
    color: purple;
}

.choice-container{
    display: flex;
    align-content: center;
    width: 30%;
    border-radius: 3px;
    background: purple;
    font-size: 20px;
    margin-bottom: 10px;
}

.question-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items:center;
    
}

.choice-container:hover{
    cursor: pointer;

}

.choice-prefix{
    padding: 4px;
    color: black;
}

.choice-text{
    padding:4px;
    width: 30%;
}

#hud {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hud-prefix {
    text-align: center;
    font-size: 30px;
}
.hud-main-text{
    text-align: center;
}

#highScores{
    font-size: 20px;
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#highScoresList{
    list-style: none;
    text-align: center;
   

}

#finalScore{
    text-align: center;
    
}

.btn{
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    padding: 4px;
    background-color: rgb(47, 228, 23);
    display: block;
    width: 3%;
   
}

#clearScoresButton{
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    padding: 4px;
    background-color: rgb(47, 228, 23);
    display: block;
    width: 3%;
    
}

.scoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.question {
    position: relative;
  }
  .feedback {
    position: absolute;
   
  }

  .highscores-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }